.container {
    margin: 20px;
    display:grid;
    height:200px;
    grid-template-columns:repeat(4,25% );
    /* grid-template-columns:200px 5rem 20% auto; */
    /* auto here will fit the rest of the space in the same line */
    grid-template-rows:3rem minmax(20px,200px) 10rem;
    /* minmax(min,max) will adjest itself to min or max depends on height of the 
    container */
    /* auto here will set to be the content height
    but if the container has height value . the value auto here will extend to the
    height */
}

.el1 {
    background: rgba(255, 154, 72, 0.5);
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    grid-column-start:3;
    grid-column-end:5;
    /* this define the is element start at the third column and expand to the fifth element */
    /* so from 3 to 5 ,2 column width */
    grid-row-start:1;
    grid-row-end:3;


}

.el4 {
    background: rgba(0, 4, 255, 0.5);
}