.container {
    margin: 20px;
    display:grid;
    height:600px;
    grid-template-columns:repeat(4,25% );
    grid-template-rows:[row-1-start]3rem [row-1-end row-2-start] minmax(20px,200px) 10rem;
    /* we can name the line by ourself by using [xxx] and also can give a line for serveral name */
}

.el1 {
    background: rgba(255, 154, 72, 0.5);
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
    grid-column-start: 1;
    grid-column-end: -1;
    /* -1 will start count from the end so 4 column will start at no 5 */
    grid-row-start:row-2-start;
    /* using our named line here without [] */
    grid-row-end:span 1;
    z-index:2
}

.el3 {
    background: rgba(28, 32, 28, 0.5);
    grid-column-start:2;
    grid-column-end:span 3;
    /* span mean extend how many cell, if 1 means 1 column */
    grid-row-start:1;
    grid-row-end:3;
}
 /* el3 created after el2 so when the position changes and become overlap
 el3 will be on top of el2 */
.el4 {
    background: rgba(0, 4, 255, 0.5);
}